<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About Us | BLSJCL</title>

	<!-- core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/prettyPhoto.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet">
	<link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="static/images/45fb81_cb0dbb1a1b224d2797039f19dd92a685.png_srb_p_1162_137_75_22_0.50_1.20_0.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li class="active"><a href="/about-us">About Us</a></li>
                        <li><a href="/portfolio">Events</a></li>
                        <li><a href="/blog">Board</a></li>
                        <li><a href="/blog-item-pub">Publications</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/blog-item">Videos</a></li>
                                <li><a href="/pricing">Photos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/header-->

  <section class="about-us">
	 <div class="container">
		<div class="col-md-6">
            		<div class="center wow fadeInLeft">
                		<div class="who">
					<h2>An Introduction to BLSJCL</h2>
					<h3><font color="white">Email: blsjcl@gmail.com</font></h3>
					<h3><font color="white">Faculty Adviser: Magistra Foley<font></font></h3>
					<p>Boston Latin School Junior Classical League (BLSJCL) is a chapter of the Massachusetts Junior
                        Classical League (MassJCL) and the National Junior Classical League (NJCL), which is the largest
                        Classical organization in the world. We are also the largest school chapter in the country, with
                        over 300 members!<br><br>

                        BLSJCL dedicates itself to the languages, culture, and literature of Greece and Rome. We hold
                        events
                        that encourage Latin and Greek students to gain an understanding of the ancient world, as well
                        as
                        share and develop a love for the Classics.<br><br>

                        BLSJCL holds several events within the school year, including volunteer events and Coin Wars.
                        Also,
                        BLSJCL participates in MassJCL events, such as Kick-Off in October, Classics Day in December,
                        Snowball in March, and State Convention in late April to early May, and even in
                        <em>Certamen</em>
                        tournaments!<br><br>

                        BLSJCL meetings are in several places, such as the Dining Hall, sponsors' classrooms, and the
                        Auditorium. In order to participate in these events, you must be a registered member, that is,
                        having paid an $8 due to Ms. Foley in room 032. You also need to be a registered member in order
                        to
                        receive emails about JCL events.<br><br>

                        Why have a club dedicated to the Classics? We study the Classics because much of our modern
                        world is
                        indebted to the cultures of the ancient Greeks and Romans. Because of this, we must understand
                        the
                        ancient world, so that we can better understand ours.<br><br>

                        BLSJCL delegates have also won plenty of awards in the events throughout the year and at State
                        Convention, including awards in Academics, Creative Arts, Graphic Arts, Olympika, and Certamen.
                        At
                        the 2015 State Convention, BLSJCL won first place overall, bringing home the Jane Rajotte Trophy
                        for
                        the second year in a row!<br><br>

                        If you have any questions, please don't hesitate to contact one of our sponsors, or email
                        blsjcl@gmail.com.
                        <br><br></p>
            </div>
			</div>
        </div>
            <div class="container">
                <div class="row">
                	<div class="col-md-5">
                	<div class="wow fadeInRight">
                	<img src="http://bostonlatinschooljcl.weebly.com/uploads/2/5/9/0/25907807/3723745_orig.png" class="img-responsive" alt="Responsive image" width="350" height="150">
                	</div>
			<!-- Our Skill -->
			<div class="row">
				<div class="col-md-6">
				<div class="center wow fadeInUp">
                    <div class="skill">
					<h2>JCL Creed</h2>

					<p>We the members of the Junior Classical League, covenant to hand on the torch of
                                    classical
                                    civilization in the modern world.<br>

                                    We believe an acquaintance with the civilization of Greece and Rome will help us
                                    understand and
                                    appraise this world of today,<br>

                                    Which is indebted to the ancient civilization in its government and laws,
                                    literature, language and
                                    arts.<br>

                                    We affirm the JCL experience develops responsibility, fosters brotherhood, promotes
                                    enthusiasm,
                                    encourages competition,<br> inspires dedication and enriches our total
                                    growth.<br><br></p>
				</div>
            </div>
        </div><!--/.our-skill-->
    </div>


			<!-- our-team -->
            <div class="col-md-6">
				<div class="center wow fadeInRight">
                    <div class="team">
					<h2>JCL Song</h2>
					<p>Seeking the best, the highest our goal<br>
Working for greatness through glories of old.<br><br>

Searching the realms of the golden past,<br>
We follow the classics' truths that last<br><br>

In knowledge, truth, and fellowship, we're growing everyday<br>
The friendly hand of J. C. L. aids in every way.<br><br>

In Rome's proud steps we're marching on,<br>
with every true colleague,<br><br>

And for ever we'll hold to the Purple and Gold,<br>
of the Junior Classical League.<br><br></p>
			</div>
		</div>
		</div>
        </div>
    </div><!--section-->
</div>
</div>
		</div><!--/.container-->
    </section><!--/about-us-->

    <script src="static/js/jquery.js"></script>
    <script type="static/text/javascript">
        $('.carousel').carousel()
    </script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <script src="static/js/jquery.isotope.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/wow.min.js"></script>
</body>
</html>
