<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Board | BLSJCL</title>

    <!-- core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/prettyPhoto.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="static/js/html5shiv.js"></script>
    <script src="static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="static/images/45fb81_cb0dbb1a1b224d2797039f19dd92a685.png_srb_p_1162_137_75_22_0.50_1.20_0.png" alt="logo"></a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li><a href="/portfolio">Events</a></li>
                        <li class="active"><a href="/blog">Board</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/blog-item">Videos</a></li>
                                <li><a href="/pricing">Photos</a></li>
                                <li><a href="/blog-item-pub">Publications</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->


   <section class="pricing-page">
        <div class="container">
            <div class="center">
                <h2>Board Members</h2>
                <p class="lead">These students help to lead the club as well as organize events.</p>
            </div>

	    <!-- Team Members Row -->
	<div class="pricing-area">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="heading-two" style = "color:black">Triumvirate</h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/michael.jpg" alt="">
                <p>Micheal Gao<br>Class I<br>Favorite part of JCL: Meeting new people through certamen tournaments and state/national conventions<br>Favorite grammatical structure or rhetorical device: Accusative of Respect<br>I'm looking forward to implementing more BLSJCL in-school events through which I'll be able to reach out to all of our amazing JCL members!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/William Gao.jpg" alt="">
                <p>William Gao<br>Class I<br>Favorite part of JCL: Certamen and nationals in general<br> Favorite grammatical structure or rhetorical device: Zeugma<br> I'm looking forward to working with the BLSJCL Board, meeting new BLSJCLers, BLSJCL Certamen, and NAtionals next year!</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/louis.jpg" alt="">
                <p>Louis Delano<br>Class I<br>I'm very excited for making even more memories this year and I'm confident it will be a blast! And always remember: semper ubi sub ubi</p>
            </div>
	    <div class="col-lg-12">
                <h2 class="heading-three" style = "color:black">Webmasters</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/IMG_2080.jpg" alt="">
                <p>(Head Webmaster)<br>Oliver MacNeely<br>Class II<br>Favorite part of JCL: Definitely classics day!<br> Favorite latin grammatical construction or rhetorical device: Indirect Statements<br> I'm really looking forward to classics day this year and getting to know the BLSJCL board better.</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/clair.jpg" alt="">
                <p>(Deputy Webmaster)<br>Clair Fu<br>Class IV<br> Favorite part of JCL: Certamen<br>Favorite latin grammatical construction or rhetorical device: Ablative Absalute<br>This year, I'm looking forward to working on the website, and spread the JCLove to everyone I can!</p>
            </div>
	    <div class="col-lg-12">
                <h2 class="heading-two" style = "color:black">Spirit Coordinator</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/IMG_3737.jpg" alt="">
                <p>(Head Spirit Coordinator)<br>Kayla Riker<br>Class II<br>Favorite part of JCL: Meeting new people<br> Favorite latin grammatical construction or rhetorical device: Chiasmus<br>I'm looking forward to State Convention the most!</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/IMAG0228.jpg" alt="">
                <p>(Deputy Spirit Coordinator)<br>Jamie Doyle<br>Class II<br>Favorite part of JCL: States!<br>Favorite latin grammatical construction or rhetorical device: Ablative Absolute<br>I'm really looking forward to "That's entertainment" at states!</p>
            </div>
            <div class="col-lg-12">
                <h2 class="heading-three" style = "color:black">Community Service Czar</h2>
            </div>
            <div class="col-lg-12 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/DSC_0317.jpg" alt="">
                <p>Christina Yee<br>Class II<br>Favorite part of JCL: The conventions<br>Favorite Latin grammatical construction or rhetorical device: Zeugma<br>This year, I'm really looking forward to getting BLSJCLers involved in community service, and meeting new JCLers!</p>
            </div>
            <div class="col-lg-12">
                <h2 class="heading-two" style = "color:black">Treasurers</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/2015-10-13_10-55-57.jpg" alt="">
                <p>(Head Treasurer)<br> Molly O'Halloran<br>Class III<br>Favorite part of JCL: State Convention<br> Favorite latin grammatical construction or rhetorical device:Independent clauses, let's be real, they're the forgotten, boring heroes of Latin.<br>This year I am looking forward to meeting a whole bunch of new people!</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/ashley.jpg" alt="">
                <p>(Deputy Treasurer)<br> Ashley Chou<br>Class IV<br> Favorite part of JCL: Certamen<br> Favorite latin grammatical construction or rhetorical device:Ablative Absolute<br> I'm looking most forward to working with other board members to make the JCL experience more memorable for everyone.</p>
            </div>
            <div class="col-lg-12">
                <h2 class="heading-three" style = "color:black">Parlimentarian</h2>
            </div>
            <div class="col-lg-12 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/randy.jpg" alt="">
                <p>Randy Chen<br>Class II<br>Favorite part of JCL: States Convention<br>Favorite latin grammatical structure or rhetorical device: Ablative Absolute<br>In JCL next year, I'm looking most forward most to... States Convention, and hopefully Nationals Convention<br></p>
            </div>
            <div class="col-lg-12">
                <h2 class="heading-two" style = "color:black">Publications Editor</h2>
            </div>
            <div class="col-lg-12 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/peter.jpg" alt="">
                <p>Peter Wang<br>Class II<br>Favorite part of JCL: Certamen, states, and nationals<br> Favorite latin grammatical structure or rhetorical device: Hysteron proteron<br>In JCL next year, I am looking forward to meeting new people and playing certamen!</p>
            </div>
            <div class="col-lg-12">
                <h2 class="heading-three" style = "color:black">Publicity</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/Officer Bio Pic.jpg" alt="">
                <p>(Publicity Director)<br> Carina Layfield<br>Class IV<br>Favorite grammatical structure or rhetorical device: Indirect Statements<br>In JCL this year I'm most looking forward to meeting new people and making new friends. I know that sounds, but "ubi concordia ibi victoria." Event wise I'm looking forward to kickoff or Yale Certamen.
</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/jonathen.jpg" alt="">
                <p>(Publicity Committee)<br>Jonathen Yuan<br>Class III<br> Favorite part of JCL: I am an avid Certamenator and love playing Certamen. I also really love State and National Convention, along with meeting new friends in the JCL! <br> Favorite latin grammatical structure or rhetorical device: Genitive with verbs of remembering and forgetting<br>For the 2015-2016 year, I'm really excited for working on the Publicity Committee with the other Publicity officers, and also just serving on the board in general. I'm also looking forward to starting Advanced Certamen and going to Nationals in Indiana!</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/annie.jpg" alt="">
                <p>(Publicity Committee)<br>Anna Aldins<br>Class III<br> Favorite part of JCL: The people <br> Favorite latin grammatical structure or rhetorical device: litotes<br>In JCL next year, I'm most looking forward to helping plan events for the biggest chapter in the universe!</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/image.png" alt="">
                <p>(Deputy of Publicity)<br>Ina Beinborn<br> Class III<br> Favorite part of JCL: Certamen<br>Favorite latin grammatical structure or rhetorical device: Future Passive Infinitive<br> I'm looking forward to working on publicity this year and hope to convince as many people to join the JCFamily as possible!</p>
            </div>
            <div class="col-lg-12">
                <h2 class="heading-two" style = "color:black">Secretary</h2>
            </div>
            <div class="col-lg-12 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/tim.jpg" alt="">
                <p>Tim Liu<br>Class IV<br> Favorite part of JCL: State Convention<br>Favorite latin grammatical structure or rhetorical device: Subjunctive result clause<br> I am most looking forward to attending board meetings in the upcoming year.</p>
            </div>
            <div class="col-lg-12">
                <h2 class="heading-three" style = "color:black">Officers-At-Large</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/FullSizeRender.jpg" alt="">
                <p>Nicholas Weiske<br>Class IV<br>Favorite part of JCL: Certamen<br>Favorite latin grammatical structure or rhetorical device: Ablative Absolute<br>I'm looking forward to nationals.</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/jairam.jpg" alt="">
                <p>Jairam Rao<br> Class IV<br> Favorite part of JCL: Certamen<br> Favorite latin grammatical structure or rhetorical device: Subjunctive result clause<br>I'm most looking forward to Classics Day this year.</p>
            </div>
            <div class="col-lg-12">
                <h2 class="heading-two" style = "color:black">Historian</h2>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/ada.jpg" alt="">
                <p>Ada Chai<br>Class II<br>Favorite part of JCL: Conventions<br>Favorite latin grammatical structure or rhetorical device: personification<br>I'm looking forward to meeting new people</p>
            </div>
            <div class="col-lg-6 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="/static/images/william.png" alt="">
                <p>William Burnett<br>Class II<br>Favorite part of JCL: The people aka our awkward family<br>Favorite latin grammatical structure or rhetorical device: Ablative absolute<br>In JCL next year, I'm looking most forward most to creating a BLSJCL scrapbook
that shows off every single one of your beautiful faces!</p>
            </div>

	</div>
        </div>
        </div><!--/container-->
    </section><!--/pricing-page-->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <script src="static/js/jquery.isotope.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/wow.min.js"></script>
</body>
</html>
