<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | BLS JCL</title>

	<!-- core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/animate.min.css" rel="stylesheet">
    <link href="static/css/prettyPhoto.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <link href="static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index"><img src="static/images/45fb81_cb0dbb1a1b224d2797039f19dd92a685.png_srb_p_1162_137_75_22_0.50_1.20_0.png" alt="logo"></a>
                </div>

                <div class="navbar-text">

                  <a class="btn btn-default" href="https://www.facebook.com/blsjcl"><i class="fa fa-facebook-square"></i></a>
                  <a class="btn btn-default"href="https://twitter.com/bls_jcl"><i class="fa fa-twitter"></i></a>
                  <a class="btn btn-default"href="https://plus.google.com/103871121994605829639/posts"><i class="fa fa-google-plus"></i></a>
                  <a class="btn btn-default"href="https://www.pinterest.com/blsjcl/"><i class="fa fa-pinterest"></i></a>
                </div>


                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/index">Home</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/portfolio">Overview</a></li>
                                <li><a href="/certamen">Certamen</a></li>
                                <li><a href="/midnight">Midnight Masquerade</a></li>
                                <li><a href="/kickoff">Kickoff</a></li>
                                <li><a href="/states">States</a></li>
                            </ul>
                        </li>
                        <li><a href="/blog">Board</a></li>
                        <li><a href="/blog-item-pub">Publications</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/blog-item">Videos</a></li>
                                <li><a href="/pricing">Photos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->

    <section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Updates</h2>
                <p class="lead">6th Annual BLSJCL Certamen Tournament Coming Soon!</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading"><b>When and Where!</b></h3>
                            <p>Saturday February 6th, 2016<br>9:00 a.m. to 3:00 p.m.<br><br>Boston Latin School<br>79 Avenue Louis Pasteur<br>Boston MA, 02115</p>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading"><b>Basic Information</b></h3>
                            <p>We will be hosting a certamen tournament (latin quiz bowl) with three levels of play: beginner, intermediate, and advanced.<br><br>Lunch and refreshments are included and all levels of skill are welcome.<br>Teachers and students, if you aren't playing, we welcome you to come and watch!</p>
                        </div>
                    </div>
                </div>



                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="media-body">
                            <h3 class="media-heading"><b>New this year!</b></h3>
                            <p>This year, there will be workshops for teachers to learn more about Certamen.<br>Also, our very own Certamen players will be writing questions and doing behind-the-scenes work on tournament day.</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row">

                  <div class="col-sm-6 col-md-12">
                      <div class="media services-wrap wow fadeInDown">
                          <div class="media-body">
                              <h3 class="media-heading"><center><b>Website Under Construction</b></center></h3>
                              <p><center>Please pardon our current appearence while we are updating the website. Thanks!</center></p>
                          </div>
                      </div>
                  </div>

                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->

    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url(static/images/slider/17187793117_d2c70c9f80_b.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">State Convention</h1>
                                    <h2 class="animation animated-item-2">BLSJCL Flickr</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(static/images/slider/16724746327_80da5d38a8_k.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">Midnight Masquerade</h1>
                                    <h2 class="animation animated-item-2">BLSJCL Flickr</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url(static/images/slider/16533296705_0c4419584c_k.jpg)">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1">BLS Certamen</h1>
                                    <h2 class="animation animated-item-2">BLSJCL Flickr</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/jquery.prettyPhoto.js"></script>
    <script src="static/js/jquery.isotope.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/wow.min.js"></script>
</body>
</html>
